.board{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 0;
    position: relative;
}

.board-nav{
    position: static;
    height: auto;
}

.board-canvas{
    position: relative;
    flex-grow: 1;
    /* height: 100%; */
}

.board-content{
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 2px;

    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}

.board-content::-webkit-scrollbar{
    height: 12px;
}

.board-content::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
}

.board-list{
    display: inline-block;

    width: 350px;
    height: 100%;
    
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
}

.board-list-item::-webkit-scrollbar{
    width: 7px;
}

.board-list-item::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
}



.board-list-item{
    display: flex;
    flex-direction: column;

    max-height: 100%;
    overflow-y: scroll;
}