.bar{
    display: flex;
}

.search-model{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
}

.search-model .searchIcon {
    padding-right: 5px;
    width: 20px;
    height: 20px;
  }

  .search-model .searchInput {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: #6857A0;
  }

  .search-model .searchInput:focus::-webkit-input-placeholder {
    color: #A781D2;
    transition: all 250ms ease-in-out;
  }

  .project-model{
      margin: 60px 10px 60px 10px;
  }

  .project-model .card{
    display: inline-block;
    width: 200px;
    cursor: pointer;
    margin: 50px 58px 0px 0px;
    transition: all 400ms;
  }

  .project-model .register-card{
    display: inline-block;
    width: 200px;
    margin: 50px 50px 0px 0px;
  }
  
  .project-model .card:hover {
    transform: scale(1.08);
  }





  .create-project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgba(167,129,210,1) 0%, rgba(104,87,160,1) 100%);
    min-height: 120px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px rgba(114, 12, 248, 0.507);

  }


  .create-project-card img{
    width: 40px;
    padding-top: 20px;
  }

  .create-project-card p{
    font-size: 15px;
    font-weight: 600;
    height: 0px;
    color: #F8FCF8;    
  }

  .card-menu{
    background-color: rgba(255, 255, 255, 0.2);
    color: #323743;
    border-radius: 5px;
    padding: 0px 5px 0px 7px;
    display: inline-block;
    height: 30px;
    font-weight: 600;
    position: relative;
  }