@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.container{
  display: flex;  
  height: calc( 100vh - 80px);
}

.children{
  flex-grow: 1;
  margin-left: 40px;
  margin-top: 55px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
