@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

nav{
  display: flex;

  position: static;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  background-color: rgb(249,248,246);
}

.container{
  width: 100%;
  height: 100vh;
}


.sidebar{
  height: 100%;
  width: 190px;
  display: flex;
  flex-direction: column;
  border-right: 4px solid rgb(249,248,246);
  padding-top: 90px;
}

.children{
  position: absolute;
  top: 55px;
  left: 191px;
  height: calc(100% - 55px);
  width: calc(100% - 191px);
  overflow-y: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.get-bigger:hover{
  transform: scale(1.08);
}

hr.donotcross {
  border: 1px solid rgb(209, 209, 209); 
  background-color: rgb(209, 209, 209); 
}