.dashboard{
    margin: 10px 20px 30px 20px;
}

.small-card{
    position: relative;
    min-width: 180px;
    min-height: 80px;
    /* margin-right: 0px 20px; */
    
    border-radius: 3px;
    background-color: #ffffff;
    background: linear-gradient( 
        13deg, rgb(248 192 250 / 53%) 0%, rgb(255 152 152 / 0%) 100%);
    margin-bottom: 20px;
    border: 1px solid rgb(249,248,246);
    border-radius: 0;
    box-shadow: none;


    display: flex;
    justify-content: space-between;
    transition: transform 450ms;
}

.small-card-title{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 11.0px;
    vertical-align: middle;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;

    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.small-card-img{
    width: 40px;
    margin-right: 20px;
}

.box {
    width: 100%;
    height: auto;
    border: 2px solid rgb(249,248,246);
    border-radius: 7px;
}

.box-header{
    border-bottom: 2px solid rgb(249,248,246);
    display: flex;
    justify-content: space-between;

}

.box-header p{
    margin: 12px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 540;
    padding-left: 20px;
    
}

.box-header img{
    width: 22px;
    margin-right:10px;
    cursor: pointer;
}

.box-body{
    padding: 10px 10px;
    margin-bottom: 40px;

}

.chart-container{
    /* width: 80%; */
}

canvas{
    margin-top: 30px;
}