.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(249,250,252);

}
.sign-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.sign-logo{
    display: inline-block;
}

.sign-logo:first-child {
    width: 120px;
    object-fit: contain;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-right: 4px;
  }
  
  .sign-logo:last-child {
    color: #A781D2;
    font-family: 'Festive', cursive;
    font-size: 50px;
  }

  .login-form{
      background-color: white;
      padding: 20px 30px;
      margin-top: 40px;
      box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.27);
      margin-bottom: 90px;

  }

  .login-form input{
      display: block;
      width: 400px;
      height: 50px;

      outline: none;


      font-size: 21px;
      background-color: transparent;
      color: #323743;

      margin: 20px 0px;
      border: 1px solid #d4d4d4;

      padding-left: 10px;

      font-size: 15px;
      
  }

  .login-form button{
    display: block;
    width: 100%;
    height: 36px;

    outline: none;

    font-size: 21px;
    font-weight: 750;

    background-color: rgb(10, 173, 10);
    border-radius: 4px;
    color: #F8FCF8;


    margin: 20px 0px;
    border: 1px solid #d4d4d4;

    padding-left: 10px;

    font-size: 15px;

    transition: all 250ms;

    cursor: pointer;
}

.login-form button:hover:enabled{
    background-color: rgba(10, 173, 10, 0.767);
}

.login-form button:hover:disabled{
  background-color: rgba(122, 122, 122, 0.767);
}


  .login-form input:focus::-webkit-input-placeholder {
    color: white;
    transition: all 250ms ease-in-out;
  }

  .login-footer{
      display: flex;
      justify-content: space-around;
  }

  .login-footer a{
    text-decoration: none;
    color: #6857A0;
    }

    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }

    .MuiAlert-standardError{
      background-color: rgba(236, 168, 168,0.5) !important;
    }

    .MuiAlert-standardSuccess{
      background-color: rgba(170, 236, 168, 0.5) !important;

    }

    .login-form .name-input input{
      display: inline;
      width: auto;
    }

    .login-form .name-input > input:first-child{
      margin-right: 5px;
    }