.table-share{
    width: 100%;
    margin-top: 40px;
    margin-left: 5%;
}

.table-share th, .table-share td{
    text-align: center;
    vertical-align: middle;
    border-color: black;
    height: 50px;
}

.table-share td label{
    margin-right: 0px;
}

.alert-message{
    display: flex;
    align-content: center;
    justify-content: center;
}

.share-link{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.share-link p{
    height: 11px;
}

.share-link img{
    height: 20px;
    margin-top: 10px;
}

.copy-from-clipboard{
    box-shadow: 0 1px 1px 0px #02020240, 0 0 0 1px #00030714;
    padding: 3.5px;
}

.copy-from-clipboard:hover{
    transform: scale(1.1);
}