nav a{
  text-decoration: none;
}


a {
  text-decoration: none;
}

.avatar{
  display: flex;
  position: relative;
  cursor: pointer;
  margin-right:30px;

}

.avatar .name{
  margin-top: 8px;
  font-weight: 600;
  color: #6857A0;
  font-family: 'Roboto', sans-serif;
  margin-left: 12px;
}

.avatar .img{
  width: 35px;
  height: 35px;
  border-radius:50%;
  color: white;
  text-align: center;
  font-size: 18px;
  text-align: center;

}

.avatar .chars{
  padding-top: 5px;
}

.logo {
  display: inline-block;
  
}

#burger-icon{
  margin-left: 5px;
  width: 28px;
  height: 30px;
  margin-top: 22px;
  transition: all 800ms;
}

#burger-icon:hover{
  transform: rotate(180deg) scale(1.3);
}

img.logo{
  width: 48px;
  object-fit: contain;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-right: 4px;
}

h2.logo {
  color: #A781D2;
  font-family: 'Festive', cursive;
}

.logo-container{
  cursor: pointer;
  display: flex;
  margin-right: 30px;
}

.sidebar hr{
  width: 100%;
  height: 1.6px;
  background-color: #A781D2;
}

.sidebar-item{
  padding-right: 40px;
  padding-left: 5px; 
  height: 35px;
  align-items: center;
  display: flex;
  transition: all 170ms ease-in-out;
  margin-bottom: 10px;
}

.sidebar-item:hover{
  background-color: #d3d2d2;
  cursor: pointer;
}


.sidebar-item img{
  width: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar-item p{
  color: #6857A0;
  font-weight: 500;
  font-size: 14px;
  
}

.active-sidebar-item{
  background-color: #d3d2d2;
  height: 35px;
  margin-bottom: 10px;
}

.sidebar .project-title{
  color: #323743;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sidebar .project-title img{
  width: 19px;
  margin-left:2px;
  cursor: pointer;
}